<footer *ngIf="(footerService.showFooter$ | async)">
  <section class="mt-4 mb-4 pt-3">
    <div class="container">
    <div class="row">
      <div class="col-md-3 box">
        <h5>Registered / Corporate Office :</h5>
        <p>Goldsikka Limited 2nd Floor,H.No.1-10-60 to 62,
           Ashoka Raghupathi Chambers, S.P. Road, Begumpet 
           Hyderabad, Telangana-500016,India.</p>
      </div>
      <div class="col-md-3 box">
        <h5>Matrika Flagship Store :</h5>
        <p>Shop No. 8-1-21/47 Surya Nagar Colony ,
           Tolichowki 7 Tombs Road Beside Toyota 
           service center, Hyderabad, Telangana-500008,
           India.</p>
      </div>
      <div class="col-md-3 box">
        <h5>Jewelery Wholesale Shoppe :</h5>
        <p>Goldsikka Limited 1st Floor, 
            #3-5-171/1/2, Narayanguda Near Melkote park,
             Hyderabad, Telangana-500029, India.
        </p>
      </div>
      <div class="col-md-3 box">
        <h5>Bullion Retail Shoppe :</h5>
        <p>Shop No. 01 H No 21-6-60, 
           Mehndi Galli, Ghansi Bazar, Charminar, 
           Hyderabad Telangana-500002, India.</p>
      </div>
    </div>
    <div class="row">
      <h3>Goldsikka Distributors :</h3>
      <div class="col-md-3 box">
        <h5>RK Jewellers, Karimnagar (Telangana):</h5>
        <p>House No: 2-10-1148 Jyothi Nagar,
           Karimnagar Telangana 505001, India. 
           Contact: +91-9395101978 / 9390606060</p>
      </div>
      <div class="col-md-3 box">
        <h5>Vaishnavi Jewellers, Peddapalli (Telangana):</h5>
        <p>House No: 2-1-189 Pragati Nagar,
           Peddapalli Telangana 505172, India.
           Contact: +91-9246930366</p>
      </div>
    </div>
    </div>
  </section>

  <section class="mt-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <p class="QL">Quick Links</p>
          <div class="hline"></div><br>
          <div>
            <a routerLink="/LiveRates"><p>Live Rates</p></a>
            <a routerLink="/AboutUs"><p>About Us</p></a>
            <a routerLink="/Products"><p>Products</p></a>
            <a routerLink="/LocateUs"><p>Locate Us</p></a>
            <a routerLink="/PrivacyPolicy"><p>Privacy Policy</p></a>
          </div>
        </div>

        <div class="col-md-2">
          <p class="QL">Get In Touch</p>
          <div class="hline"></div><br>
          <div>
            <p routerLink="#">Tollfree No : 1800 8906 122</p>
            <p routerLink="#">Phone: 040-2322 2175</p>
            <p routerLink="#">What’s App: 91600 06702</p>
            <p routerLink="#">Email: info@goldsikka.com</p>
            <p routerLink="#">Working Hours: Mon-Sat(9:30 am to 6:30 pm)</p>
            <p routerLink="#">Note: 2nd & 4th Saturdays Holidays.</p>
          </div>
        </div>

        <div class="col-md-3">
          <p class="QL">Company Details</p>
          <div class="hline"></div><br>
          <div>
            <p>
              <i class="fa fa-caret-right"></i>
              Central Registry of Securitisation Asset Reconstruction and Security Interest of India - KYC Identifier No : 90044129091284
            </p>
            <p >
              <i class="fa fa-caret-right"></i>
              CIN No : U51909TG2019PLC130903
            </p>
            <p >
              <i class="fa fa-caret-right"></i>
              PAN No : AAHCG7082N
            </p>
            <p >
              <i class="fa fa-caret-right"></i>
              TAN No : HYDG18885G
            </p>
            <p >
              <i class="fa fa-caret-right"></i>
              GSTIN No : 36AAHCG7082N1ZZ
            </p>
            <p >
              <i class="fa fa-caret-right"></i>
              IEC No : AAHCG7082N
            </p>
            <p >
              <i class="fa fa-caret-right"></i>
              Udyog Aadhar No : TS02E0067316
            </p>
            <p >
              <i class="fa fa-caret-right"></i>
              Legal Entity Identifier No : 894500HECY3CXJW19W73
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <p class="QL"></p>
          <div>
            <!-- Add other company details --><p>
                    <i class="fa fa-caret-right"></i>
                    MMTC Limited Gold Code : 10882GL01 Silver Code : 10882SV01
                  </p>
                  <p >
                    <i class="fa fa-caret-right"></i>
                    GJEPC Membership No : GJEPC/RO-CHE/7000050661/AM/1
                  </p>
                  <p >
                    <i class="fa fa-caret-right"></i>
                    Bureau of Indian Standards Certificate No : HM/C-6390039720
                  </p>
                  <p >
                    <i class="fa fa-caret-right"></i>
                    National Securities Depository Limited
                  </p>
                  <p >
                    <i class="fa fa-caret-right"></i>
                    GSTIN No : 36AAHCG7082N1ZZ
                  </p>
                  <p >
                    ISIN No : INEOJ8501014
                  </p>
                  <p >
                    <i class="fa fa-caret-right"></i>
                    Govt of Telangana Reg No : SEA/HYD/ALO/03/0199926/2020
                    <i class="fa fa-caret-right"></i>
                  </p>
   
          </div>
        </div>

        <div class="col-md-2">
          <p class="QL">Download Our App</p>
          <div class="hline"></div><br>
          <div>
            <p routerlink ="https://play.google.com/store/apps/details?id=com.goldsikka.gbharat&hl=en_US&pli=1">
              <img class="g-pay" src="https://goldbharat.com/assets/googlplay.png" alt="">
            </p>
            <p routerLink="https://apps.apple.com/gb/app/goldbharat/id6443963704">
              <img class="g-pay" src="https://goldbharat.com/assets/GooglepalyStore.png" alt="">
            </p>    
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div>
            <p> &copy; 2023-2024 Gold Bharat Ltd.Design by:
              <span><a class="xyug" href="https://xyug.in/" target="_blank">X-YUG Technologies</a></span>
            </p>
          </div>
        </div>
        <div class="col-md-6 icons">
          <a routerLink="https://www.facebook.com/GoldsikkaLimited">
            <i class="fa-brands fa-facebook" ></i>
            </a>
          
          <a routerLink="https://www.instagram.com/goldsikka_limited/">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a routerLink="https://www.linkedin.com/checkpoint/challengesV2/inapp/expired/AQFgUt7C15-qIgAAAY_icR1zkvzDx39fyinApws4krDaBowttiVblEu8H97F6N8gemBxSIZdl1JmKlENdqm2VpUsH8Ka1YQO8A?isNativeApp=false&flavour=CONSUMER_LOGIN">
            <i class="fa-brands fa-linkedin"></i>
          </a>
            
          <a  routerLink="https://x.com/i/flow/login?redirect_after_login=%2Fgoldsikkaltd">
            <i class="fa-brands fa-twitter"></i>
          </a>        
        </div>
      </div>
    </div>
  </section>
</footer>
