<!-- Bookings.component.html start-->
<section>
    <div class="container">
        <div class="space"></div>
    </div>
</section>

<section class="main">
    <div class="container">
        <h3>Booking</h3>

        <div class="col-md-4 border border-white box">
            <div class="text">
                <div> 
                    <span class="color">
                        <i class="fa-solid fa-phone"></i>
                         Booking Number</span>
                </div>          
                    <p>+91 91600 06702</p>
            </div>
        </div>

        <div class="col-md-4 box-width border border-white box">
            <div class="text">
                <div> 
                    <span class="color">
                        <i class="fa-solid fa-envelope"></i>
                        Account Create</span>
                </div>          
                    <p>info@goldsikka.com</p>
            </div>
        </div>

        <div class="col-md-4 box-width border border-white box">
            <div class="text">
                <div> 
                    <span class="color">
                        <i class='fas fa-headset'></i>
                        Technical Support</span>
                </div>          
                    <p>info@goldsikka.com</p>
            </div>
        </div>

        <div class="col-md-4 box-width border border-white box">
            <div class="text">
                <div> 
                    <span class="color">
                        <i class="fa-solid fa-location-dot"></i>
                         Address</span>
                </div>          
                    <p>Goldsikka Limited 2nd Floor, H.No.1-10-60 to 62, Ashoka Raghupathi Chambers , S.P. Road, Begumpet
                        Hyderabad, Telangana-500016, India.</p>
            </div>
        </div>
               
    </div>

</section>
<!-- Bookings.component.html End-->