<!-- Locate Us.component.html Start-->
<section>
    <div class="container">
        <div class="space"></div>
    </div>
</section>

<section class="mt-5 mb-5" id="our">
    <div class="container-fuild text-center box3">
        <div>
            <p class="Our">Locate Us</p>       
        </div>

    <div class="row">
        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.320017069927!2d78.46306547421092!3d17.44439070116234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90a36223132b%3A0x56f6b02c055805b6!2sGoldsikka%20Limited!5e0!3m2!1sen!2sin!4v1709896814533!5m2!1sen!2sin"
                height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                class="location">
            </iframe>
        </div>
      
        <div class="col-md-6">
            <div class="loc">  
                <div class="text"> 
                    <div class="circle">
                        <i class="fa-solid fa-phone"></i>    
                    </div>
                    <span>
                        <p class="color"> Get In Touch</p>                        
                        <p>Whatsapp No: +91 91600 06702</p>
                    </span>
                </div>      
                
                <div class="text"> 
                    <div class="circle">
                        <i class="fa-solid fa-envelope"></i>    
                    </div>
                    <span>
                        <p class="color">Email Us</p>                        
                        <p>info@goldsikka.com</p>
                    </span>
                </div>     

                <div class="text"> 
                    <div class="circle2">
                        <i class="fa-solid fa-house"></i>  
                    </div>
                    <span>
                        <p class="color">Address</p>                        
                        <p>Goldsikka Limited 2nd Floor, H.No.1-10-60 to 62, Ashoka Raghupathi Chambers , S.P. Road, Begumpet Hyderabad, Telangana-500016, India</p>
                    </span>
                </div> 
            </div>  
        </div>
    </div>
</div>
</section>

<!-- Locate Us.component.html End-->