<section>
    <div class="container">
      <div class="space"></div>
    </div>
  </section>
  
  <!-- Login.component.html Start-->
  <section>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="container-fluid bg">
        <div class="box">
          <img src="https://goldbharat.com/assets/GoldBharatone.png" class="logo" alt="">
          <div>
            <h3>Welcome back! Glad to see you, Again</h3>
          </div>
          <div class="input-container">
            <span class="num">+91 |</span>
            <input type="tel" id="phone" placeholder="Ex: +91*********" formControlName="Phone">
            <small *ngIf="loginForm.get('Phone')?.invalid && loginForm.get('Phone')?.touched">
              *Mobile Number is required
            </small>
          </div>
          <div class="login">
            <button id="loginButton" class="btn" type="submit" [disabled]="!loginForm.valid">Login</button>
          </div>
          <div class="Register">
            <p>Don't have an account? <span><a routerLink="/Register">Register</a></span></p>
          </div>
        </div>
      </div>
    </form>
  </section>
  <!-- Login.component.html End-->
  