<!-- Products.component.html start-->
<section>
    <div class="container">
      <div class="space"></div>
    </div>
  </section>

<section class="mt-5 mb-5" id="our">
    <div class="container-fuild text-center box3">
        <div>
            <p class="Our">Our Products</p>
            <img class="inside-design" src="https://goldbharat.com/assets/bhavav.png" alt="">            
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="fourbox" src="https://goldbharat.com/assets/goldbars.png" alt="">
                <h5>Gold Bars</h5>
            </div>
            
            <div class="col-md-3">
                <img class="fourbox" src="https://goldbharat.com/assets/silverbars.png" alt="">
                <h5>Silver Bars</h5>
            </div>
            <div class="col-md-3">
                <img class="fourbox" src="https://goldbharat.com/assets/goldcoins.png" alt="">
                <h5>Gold Coins</h5>
            </div>
            <div class="col-md-3">
                <img class="fourbox" src="https://goldbharat.com/assets/silvercoins.png" alt="">
                <h5>Silver Coins</h5>
            </div>
        </div>
    </div>  
</section>

<!-- Products.component.html End-->
