<!-- Liverates.component.html Start-->
<section>
    <div class="container">
        <div class="space"></div>
    </div>
</section>

<section class="main">
    <div class="container">
        <p class="real">Real-Time Gold and Silver Live Prices</p>
        <div class="row">
            <div class="col-md-4 box-width border border-white box ">
                <p class="Spot">Spot Gold</p>
                <p class="rate">$2349.39</p>
            </div>

            <div class="col-md-4 box-width border border-white box">
                <p class="Spot">Spot Silver</p>
                <p class="rate">$30.657</p>
            </div>
            <div class="col-md-4 box-width border border-white box">
                <p class="Spot">Spot Rupee</p>
                <p class="rate">₹83.3584</p>
            </div>
        </div>

        <p class="Commodities">Commodities on Gold Bharat</p>
        <p class="date">Date & Time : June 4, 2024 | 11:31:21 AM</p>

        <div class="row">
            <div class="col-md-6 box2 border border-white box">
                <div>
                    <img class="gold-img" src="https://goldbharat.com/assets/goldbusket.png" alt="">
                </div>
                <div>
                    <p class="gold-live">
                        <span>Gold Live Price Per Gram</span>
                    </p>
                    <p class="tworate">
                        <span>$2349.39</span>
                    </p>
                </div>
            </div>

            <div class="col-md-6 box2 border border-white box">
                <div>
                    <img class="gold-img" src="https://goldbharat.com/assets/Silverbusket.png" alt="">
                </div>
                <div>
                    <p class="gold-live">
                        <span>Silver Live Price Per 1Kg</span>
                    </p>
                    <p class="tworate">
                        <span>$30.657</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-3 mb-3" id="products">
    <app-products></app-products>
</section>

<section class="mt-4 mb-4 app-img" id="doa">
    <div class="text-center">
        <p class="download">Download Our App</p>
        <img class="d-img" src="https://goldbharat.com/assets/bhavav.png" alt="">
    </div>
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-6">
                <img class="mobile" src="https://goldbharat.com/assets/goldbharath-mobile.png" alt="">
            </div>
            <div class="col-md-6 text-center">
                <div>
                    <img src="https://goldbharat.com/assets/Artboardstar.png" alt="">
                </div>
                <div>
                    <a href="https://play.google.com/store/apps/details?id=com.goldsikka.gbharat&hl=en_US&pli=1">
                        <img class="store" src="https://goldbharat.com/assets/googlplay.png" alt=""></a>

                    <div>
                        <a href="https://apps.apple.com/gb/app/goldbharat/id6443963704">
                            <img class="store" src="https://goldbharat.com/assets/GooglepalyStore.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-3 mb-3" id="contact">
    <div class="container-fuild text-center box3">
        <div>
            <p class="contact">Contact Us</p>
            <img class="d-img" src="https://goldbharat.com/assets/bhavav.png" alt="">            
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="box4">
                    <p class="cn">Contact Number</p>
                    <div class="num">
                        <div class="call">
                            <img src="https://goldbharat.com/assets/phone.png" alt="">
                            1800 8906 122
                        </div>
                        <div class="call">
                            <img src="https://goldbharat.com/assets/phone.png" alt="">
                            040 23222175
                        </div>
                    </div>
                        <p class="cn">Timings</p>
                    <div>
                        <p class="time">
                            <img src="https://goldbharat.com/assets/on-time.png" alt="">
                            Monday to Saturday:9:30 AM to 6:30 PM
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box4">
                    <p class="cn">WhatsApp Number</p>
                    <div class="num">
                        <div>
                           <img src="https://goldbharat.com/assets/whatsapp.png" alt="">
                            +91 91600 06702
                        </div>
                    </div>
                        <p class="cn">Email ID</p>
                    <div class="time">
                        <img src="https://goldbharat.com/assets/gmail.png" alt="">
                         Info@goladsikka.com
                    </div>
                </div>
             </div>
             
            <div class="col-md-4">
                <div class="box4">
                <div class="cn">
                    <img src="https://goldbharat.com/assets/home-address.png" alt>
                    Address
                </div>
                <div class="num">
                    <p>Goldsikka Limited 2nd Floor, Ashoka Raghupathi Chambers , H.No. 1-10-60 , Adj to Prakash Nagar Metro
                        Station, Begumpet, Hyderabad, Telangana, 500016 India.</p>
                </div> 
            </div>
        </div>
        </div>
    </div>
</section>




<!-- Liverates.component.html End-->